LogCompleteness/tags/ase14/src/il/ac/tau/cs/smlab/fsa/xml/jaxb/FSA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="simulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="startnode"/>
        <xs:element name="nodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="node" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="gotos" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="goto" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:float" name="prob" use="optional"/>
                                  <xs:attribute type="xs:string" name="out" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>